.idea
.Build/*
.php_cs
.php_cs.cache
.phpunit.cache
composer.lock
Documentation-GENERATED-temp
public/
vendor/

# Playwright
Tests/E2E/node_modules/
Tests/E2E/test-results/
Tests/E2E/playwright-report/
Tests/E2E/package-lock.json
