<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>


<f:section name="Main">

    <f:flashMessages />

    <f:if condition="{showForm}">
        <formvh:render
            overrideConfiguration="{settings}"
            factoryClass="WapplerSystems\Inquiry\Form\Factory\InquiryFormFactory"
        />
        <f:link.page pageType="{settings.generatePdfTypeNum}" class="inquiry-generate-pdf">
            <f:translate key="LLL:EXT:inquiry/Resources/Private/Language/frontend.xlf:generatePdf" />
        </f:link.page>
    </f:if>



</f:section>
</html>
