<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:variable name="fluidAdditionalAttributes" value="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"/>
    <f:variable name="additionalAttributes" value="" />
    <f:if condition="{fluidAdditionalAttributes}">
        <f:for each="{fluidAdditionalAttributes}" as="value" key="key">
            <f:variable name="additionalAttributes" value='{additionalAttributes} {key}="{value}"' />
        </f:for>
    </f:if>
    <fieldset id="{element.uniqueIdentifier}"
                class="form-group inquiry-item-fieldset{f:if(condition: element.properties.elementClassAttribute, then: ' {element.properties.elementClassAttribute}')}"
                {additionalAttributes -> f:format.raw()}>

        <div class="inquiry-fieldset-header">
            <f:if condition="{element.label}">
                <legend>{formvh:translateElementProperty(element: element, property: 'label')}</legend>
            </f:if>

            <button type="button" data-inquiry-item-uid="{element.properties.uid}" data-inquiry-item-type="{element.properties.type}" data-target="inquiryForm-fieldsetItem_{element.properties.hash}" class="inquiry-item-delete">{f:translate(key:'LLL:EXT:inquiry/Resources/Private/Language/frontend.xlf:removeItemButton')}</button>
        </div>

        <div class="inquiry-item-content row">
            <f:if condition="{element.properties.event.htmlPreview}">
                <div class=" col-12 col-lg-4">
                    <div class="inquiry-item-preview">
                        <f:format.raw>{element.properties.event.htmlPreview}</f:format.raw>
                    </div>
                </div>
            </f:if>

            <div class="inquiry-item-fields col-12 col-lg-8">
                <f:for each="{element.elements}" as="element">
                    <f:render partial="{element.templateName}" arguments="{element: element}" />
                </f:for>
            </div>
        </div>

    </fieldset>
</formvh:renderRenderable>
</html>
